---
import font_image from '../../assets/images/section_1.jpg'
---

<section id="inicio">
    <div class="relative h-[584px] w-full">
        <img
            src={font_image.src}
            alt="Font Image"
            class="h-full w-full object-cover"
        />
        <div class="absolute inset-0 bg-black opacity-20"></div>
        <div
            class="absolute inset-0 flex flex-col justify-center items-start text-white gap-4"
        >
            <div class="bg-white rounded-r-full p-4">
                <h1
                    class="md:text-4xl text-2xl font-semibold text-start text-primary md:w-[800px] text-balance md:pl-8 p-4"
                >
                    Liderando la Transformación Tecnológica con Innovación y Colaboración
                </h1>
            </div>
            <div class="bg-white rounded-r-full p-4">
                <h2 class="md:text-lg text-base font-medium max-w-3xl text-start text-black md:w-[625px] text-balance pl-8">
                    Una empresa comprometida con la creación de soluciones tecnológicas que mejoran la calidad de vida y transforman el futuro.
                </h2>
            </div>

        </div>
    </div>

</section>
