<section>
    <div class=" h-full p-8">
        <div class="flex flex-col h-full items-center justify-around">
            <div class="flex flex-col justify-center items-start gap-y-2">
                <div class="flex flex-col justify-center items-center py-8 bg-primary rounded-lg">
                    <div
                        class="bg-white rounded-full items-center justify-center"
                    >
                        <h1
                            class="text-primary font-bold text-xl px-6 py-1 rounded-full flex items-center"
                        >
                            Nuestro Propósito
                        </h1>
                    </div>
                    <p class="text-white font-semibold md:text-lg md:p-8 w-1/2 text-center text-balance">
                        En VRAVO, nuestra razón de ser es liderar la
                        transformación tecnológica en diversos ámbitos,
                        desarrollando productos y servicios que combinen
                        software y hardware innovador. Nos enfocamos en mejorar
                        la calidad de vida de nuestros usuarios y en fomentar la
                        investigación en tecnologías emergentes, estableciendo
                        alianzas estratégicas que fortalezcan nuestro impacto.
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center gap-y-2 py-8 bg-secondary rounded-lg">
                    <div
                        class="bg-white rounded-full items-center justify-center"
                    >
                        <h1
                            class="text-secondary font-bold text-xl px-6 py-1 rounded-full flex items-center"
                        >
                            Nuestra Misión
                        </h1>
                    </div>
                    <p class="text-white font-semibold md:text-lg md:p-8 w-1/2 text-center text-balance">
                        Transformamos y facilitamos el acceso a soluciones
                        tecnológicas innovadoras que ayudan a personas y
                        empresas a mejorar sus procesos y calidad de vida. Nos
                        comprometemos a ofrecer herramientas eficientes,
                        personalizadas y sostenibles que resuelvan desafíos
                        actuales y promuevan un desarrollo accesible y
                        responsable. .
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center gap-y-2 py-8 bg-secondary-1 rounded-lg">
                    <div
                        class="bg-white rounded-full items-center justify-center"
                    >
                        <h1
                            class="text-secondary-1 font-bold text-xl px-6 py-1 rounded-full flex items-center"
                        >
                            Nuestra Visión
                        </h1>
                    </div>
                    <p class="text-white font-semibold md:text-lg  md:p-8 w-1/2 text-center text-balance">
                        Aspiramos a convertirnos en un referente de innovación
                        tecnológica, tanto a nivel nacional como internacional.
                        VRAVO lidera la transformación digital con soluciones
                        que generan un impacto positivo, adaptándose a los
                        cambios del mercado y mejorando la vida de sus usuarios
                        con tecnología que evoluciona constantemente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
